<div class="search">
	<input type="text" name="query" (input)="search($event)" placeholder="search...">
</div>
<ul *ngIf="items.length > 0" [class.open]="open">
	<li *ngFor="let item of items; let i = index" (click)="getPokemon(item)">
		<span class="button" [class.active]="isActive(item)" [class.data-after]="!open" [class.data-before]="open" [attr.data-index]="pad(i+1)">{{item.name}}</span>
	</li>
</ul>

<h1 *ngIf="items.length < 1 && !this.query">carregando...</h1>
<p [style.color]="red" *ngIf="items.length < 1 && !!this.query">Nenhum pokemon encontrado ):</p>