/* You can add global styles to this file, and also import other style files */
body{
	margin: 0;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1em;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 16px 0;
}

ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

dl {
	margin-top: 0;
	margin-bottom: 0;
}

dd {
	margin-left: 16px;
}

.logo {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-center;
}

.list, .details {
	box-sizing: border-box;
	display: block;
	overflow-y: auto;
}

.list {
	flex: 1
}


.list ul {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.list ul.open {
	flex-direction: row;
	flex-wrap: wrap;
}

.list li {
	margin-bottom: 8px;
	cursor: pointer;
}

.list .open li {
	width: 33%;
	margin-bottom: 10px;
	text-align: center;
}

.search {
	max-width: 70%;
	margin: 16px auto;
}

.search input {
	width: 100%;
	border: 0;
	border-bottom: 1px black solid;
	outline: none;
}

.search input:focus {
	border-bottom: 2px rgba(84, 175, 84, 0.69) solid;
}

.details {
	margin-left: 16px;
	flex: 3;
}


.card-detail {
	position: relative;
}

.card-detail .clear {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 2rem;
	cursor: pointer;
}

.chart {
	background-color: rgba(84, 175, 84, 0.69);
	height: 10px;
	margin-bottom: 5px;
}

.button {
	font-weight: bolder;
	box-sizing: content-box;
	padding: 16px 8px;
	padding-left: 16px;
	border-left: 5px solid rgba(84, 175, 84, 0.69);
	box-shadow: #eee 3px 3px 6px;
	text-align: left;
}

.list .button {
	display: inline-block;
	width: 70%;
	position: relative;
}

.list .open .button {
	width: 65%;
}

.list .button.data-before:before{
	content: attr(data-index);
	font-size: 1.2em;
	font-weight: bolder;
	padding-right: 12px;
	vertical-align: baseline;
}

.list .button.data-after:after{
	content: attr(data-index);
	font-size: 0.66em;
	position: absolute;
	right: 8px;
	font-weight: normal;
	color: #ccc;
}

.list .button.active {
	border-left-color: rgba(255, 193, 7, 0.83);
}

@media screen and (max-width: 670px) {
	body {
		font-size: 12px;
	}

	dd {
		margin-left: 0;
	}

	.list:not(.open) {
		display: none
	}
}

@media screen and (max-width: 700px) {
	.list ul, .list ul.open {
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.list ul li, .list ul.open li {
		width: 100%;
	}

	.list .button,
	.list .open .button {
		display: block;
		width: 85%;
	}
}